* {
    font-family: "Inter", sans-serif;
}

.background {
    background-image: url('../assets/hero-leaf1.png'), url('../assets/hero-leaf2.png');
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;

}

.active {
    background-color: #15803c;
    color: white;
}


